@import "../../css/colors.scss";
* {
  // 배경
  //   outline: 1px solid $mainT;
  .impression {
    .bg {
      padding: 0;

      .textBox {
        width: 70%;

        text-align: center;
        display: flex;
        flex-direction: column;
        label {
          color: $subB;
          font-weight: bold;
          font-size: 20px;
        }
        textarea {
          margin-top: 20px;
          width: 100%;
          height: 400px;
          padding: 30px;
          box-sizing: border-box;
          background-color: $mainS;
          border: none;
          font-size: 16px;
          resize: none;
          margin-bottom: 30px;
        }
        .icon {
          display: flex;
          gap: 30px;
          align-items: center;
          margin: 0 auto;
          .arrowLeft {
            color: $mainS;
            font-size: 3em;
          }
          .circleCheck {
            color: $mainT;
            font-size: 3em;
          }
        }
      }
    }
  }
}
